html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#header-wrapper {
    border-bottom: solid 1px #272d30;
    box-shadow: inset 0px -1px 0px 0px #51575a;
    background-color: #8AC349;
}

/* Header */

#header {
    min-height: 155px;
    position: relative;

}


#header nav {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-weight: 200;
}

#header nav li{
    float: left;
    list-style-type:none;
    margin-left: 60px;
}

#header nav a {
    color: #212121;
    text-decoration: none;
    font-size: 1.4em;
    outline: 0;
}

#header nav a:hover {
    color: #f6f8f8;
}


#header .logo img{
    height: 120px;
    position: absolute;
    left: 0;
    bottom: 23px;


}

.row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px 0 -1px -20px;
}

.row > * {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

@media screen and (min-width: 737px) {
    .container {
        width: 1200px;
    }
}

@media screen and (min-width: 737px) and (max-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media screen and (max-width: 736px) {
    .container {
        width: 100% !important;
    }
}

.button.big, .button {
    font-size: 1em;
    height: 3.65em;
    line-height: 3.65em;
    cursor: pointer;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0.075em;
    font-weight: 700;
    display: inline-block;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    background-color: #689F38;
    color: black;
    border-radius: 0.375em;
    border: 0;

}

.button{
    height: 3em;
    line-height: 3em;
    padding: 0 1.25em;
    margin: 0 0.5em;
}

.button.small{
    height: 2em;
    line-height: 2em;
}

.button:hover {
    background-color: #8AC349;
}

.text.big{
    font-size:1.3em;
}

input[type="text"], input[type="password"], input[type="email"] {
    line-height: 1em;
    display: block;
    outline: 0;
    padding: 0.75em;

}

select{

    line-height: 1em;

    padding: 0.75em;
    display: block;
}

.tasksDay{
    background-color: #DCEDC8;
    padding: 1em;
    margin-left: 1em;

}