{% extends "dotodo/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <title>doToDo Settings</title>
    {#    <script type="text/javascript" src="{% static 'dotodo/js/settings.js' %}" defer></script>#}
{% endblock %}
{% block nav_links %}
    {% include 'dotodo/nav_links/home.html' %}
{% endblock %}

{% block main %}
    <section>
<form method="post" action="">
  {% csrf_token %} 
  {{ form.as_p }}

  <input class="button big" type="submit" value="{% trans 'Submit' %}" />
</form>
    </section>
{% endblock %}
