{% extends "dotodo/base.html" %}
{% load i18n %}

{% block head %}
    <title>doToDo Reset password</title>
{% endblock %}

{% block nav_links %}
    {% include 'dotodo/nav_links/meet.html' %}
{% endblock %}

{% block main %}
    <section>

{% if validlink %}

<form method="post" action="">
  {% csrf_token %} 
  {{ form.as_p }}

  <input class="button big" type="submit" value="{% trans 'Submit' %}" />
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}

    </section>
{% endblock %}
