html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body{
    margin:0;
    display: -webkit-flex;
    display: flex;
    flex-flow:column;
    min-height:100vh;

}



#page-wrapper{
    clear:both;
    flex-grow:1;
    flex-flow:column;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
   /* background: #f4ff77;*/

}

#header-wrapper {
    border-bottom: solid 1px #272d30;
    box-shadow: inset 0px -1px 0px 0px #51575a;
    background-color: #8AC349;
}

.container{
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: flex;
    flex-flow:column;
    width: 90vw;
    justify-content: center;
}

/* Header */

#header {
    min-height: 80px;
    position: relative;
    flex-flow:initial;
    justify-content: space-between;
}




#header nav {
    bottom: 20px;
    font-weight: 200;
}

#header nav li{

    list-style-type:none;
    margin-left: 60px;
}

@media screen
and (min-width: 414px) {
    #header nav ul{
        display: -webkit-flex;
        display: flex;
        flex-flow:column;
        justify-content: space-between;
    }
}
@media screen
and (min-width: 1024px) {
    #header nav ul{
        margin-top:80px;
        display: -webkit-flex;
        display: flex;
        flex-flow:row;
        justify-content: space-between;
    }
}

#header nav a {
    color: #212121;
    text-decoration: none;
    font-size: 1.4em;
    outline: 0;
}

#header nav a:hover {
    color: #f6f8f8;
}


#header .logo img{
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 10px;
}

@media screen
and (min-width: 414px) {
    #header {
        min-height: 100px;
    }
    #header .logo img{
        height: 80px;
        bottom: 15px;
    }
}
@media screen
and (min-width: 1024px) {
    #header {
        min-height: 150px;
    }
    #header .logo img{
        height: 120px;
        bottom: 23px;
    }
}

.row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
	display: flex;
}

.row > * {
    /*float: left;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}





.button.big, .button {
    font-size: 1em;
    height: 3.65em;
    line-height: 3.65em;
    cursor: pointer;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0.075em;
    font-weight: 700;
    display: inline-block;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    background-color: #689F38;
    color: black;
    border-radius: 0.375em;
    border: 0;

}
form {
    padding-bottom: 10px;
    padding-top: 10px;
}

/*
input:required {
    background:hsl(180, 50%, 90%);
    border:1px solid #999;
}*/

.button{
    height: 3em;
    line-height: 3em;
    padding: 0 1.25em;

}

.button.small{
    height: 2em;
    line-height: 2em;
}

.button:hover {
    background-color: #8AC349;
}

.text.big{
    font-size:1.3em;
}

input[type="text"], input[type="password"], input[type="email"] {
    line-height: 1em;
    display: block;
    outline: 0;
    padding: 0.75em;

}

select{

    line-height: 1em;

    padding: 0.75em;
    display: block;
}


/* header */
footer{

	background-color: #8AC349;
	text-align:center;
}

.controls{
    background-color: transparent;
}

footer .row{
	justify-content: center;
	align-items: center;
}

footer .row > *{
    margin: 10px;
}

.tasksDay{
    background-color: #DCEDC8;
    padding: 1em;
    margin-left: 1em;
    position: relative;
    width: 500px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.tasksDay:before, .tasksDay:after
{
    position: absolute;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 12px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.tasksDay:after
{
    left: auto;
    right: 12px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -moz-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    -o-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
}

.tasksDay div {
    border-bottom: 1px solid #DCEDC8;
    height: 3em;
    align-content: center;
    display:-webkit-flex;
    display:flex;
    justify-content: space-between;
    flex-flow: row;

}



label {
    display: inline;
    cursor: pointer;
}

.task-checkbox {
    display: none;
    width: 90%;
    margin-left:auto;
}

.task-checkbox + label:after {
/*'HEAVY BALLOT X' (U+2718) 'HEAVY MULTIPLICATION X' (U+2716)*/
    content: '\2718';
    position: relative;
    font-weight: bold;
    font-size: 2em;
    top: 0.1em;
    left: 3px;

   /* color: transparent;*/
}
.task-checkbox:checked + label:after {
    content: '\2714';
    color: #689F38;
    font-weight: bold;
    font-size: 2em;
}

.tasksDay div a {
    display: inline-block;
    color: #212121;
    text-decoration: none;
    outline: 0;
    font-size: 2em;
    top: 0.2em;
    color: #7d8771;
    cursor: pointer;
}



