{% extends "dotodo/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <title>{% blocktrans %}doToDo Activity{% endblocktrans %}</title>
    <script type="text/javascript" src="{% static 'dotodo/js/activity.js' %}" defer></script>
    <script src="{% static 'dotodo/js/highcharts.js' %}"></script>
    {% load chartit %}
    {{ chart|load_charts:"containerChart" }}
{% endblock %}
{% block nav_links %}
    {% include 'dotodo/nav_links/home.html' %}
{% endblock %}



{% block main %}
            <section>

               {% comment %} <p id="infoHappy">{% blocktrans %}Today you have done: no js enabled? {% endblocktrans %}</p>
                <img id="imgHappy" src="{% static 'dotodo/images/emo3.svg' %}"  width="200" height="200">{% endcomment %}
                <p>{% blocktrans %}Your activity so far (line to top means you have done all task for the day):{% endblocktrans %}</p>
                <div class="column">
                    <div id='containerChart'> Chart will be rendered here </div>
              {% comment %}  <canvas id="canvas" width="300" height="300">
                    <img src="{% static 'dotodo/images/image_example.png' %}" alt="graph">
                </canvas>

                <table id="vertical-1">
                    <tr>
                        <th>Time period</th>
                        <td>Friday, 25.11.</td><td>Saturday, 26.11.</td><td>Sunday, 27.11.</td><td>Yesterday</td><td>Today</td>
                    </tr>
                    <tr>
                        <th>All tasks</th>
                        <td>4</td><td>10</td><td>10</td><td>2</td><td>10</td>
                    </tr>
                    <tr>
                        <th>Done tasks</th>
                        <td>1</td><td>4</td><td>8</td><td>2</td><td>7</td>
                    </tr>
                    <tr>
                        <th>Done tasks (percentage)</th>
                        <td>25</td><td>40</td><td>80</td><td>100</td><td>70</td>
                    </tr>
                </table>{% endcomment %}
                </div>
            </section>

{% endblock %}