{% extends "dotodo/base.html" %}
{% block head %}
    <title>doToDo Welcome</title>
{% endblock %}

{% block nav_links %}
    {% include 'dotodo/nav_links/login.html' %}
{% endblock %}

{% block banner %}
<div class="container">
    <br/>
    <h2>Make your list. Check it twice.</h2>
    <br/>
</div>
<div id="banner">

    <h1>Do it!</h1>
</div>
{% endblock %}

{% block main %}
    <section>
        <h2>Welcome to <span>doToDo</span>!</h2>
        <p>This is <strong>doToDo</strong>, a free web application which helps you do your To-Do's. :)
            Manage tasks anywhere you want to, on mobile device or computer.
            Tackle your tasks by priority and get notified about them them via email.
            Be more organized and motivated!
        </p>
        <footer class="controls">
            <a href="{% url 'register' %}" class="button big">Register</a>
        </footer>
    </section>
{% endblock %}