{% extends "dotodo/base.html" %}
{% load i18n %}
{% block head %}
    <title>{% blocktrans %}doToDo Welcome{% endblocktrans %}</title>
{% endblock %}

{% block nav_links %}
    {% include 'dotodo/nav_links/login.html' %}
{% endblock %}

{% block banner %}
<div class="container">
    <br/>
    <h2>{% blocktrans %}Make your list. Check it twice.{% endblocktrans %}</h2>
    <br/>
</div>
<div id="banner">

    <h1>{% blocktrans %}Do it!{% endblocktrans %}</h1>
</div>
{% endblock %}

{% block main %}
    <section>
        <h2>{% blocktrans %}Welcome to <span>doToDo</span>!{% endblocktrans %}</h2>
        <p>{% blocktrans %}This is <strong>doToDo</strong>, a free web application which helps you do your To-Do's. :)
            Manage tasks anywhere you want to, on mobile device or computer.
            Tackle your tasks by priority and get notified about them them via email.
            Be more organized and motivated!{% endblocktrans %}
        </p>
        <footer class="controls">
            <a href="{% url 'registration_register' %}" class="button big">{% trans "Register" %}</a>
        </footer>
    </section>
{% endblock %}