{% extends "dotodo/base.html" %}
{% block head %}
    <title>doToDo Login</title>
{% endblock %}

{% block nav_links %}
    {% include 'dotodo/nav_links/meet.html' %}
{% endblock %}

{% block main %}
    <section>

        <form method="POST"  action="">
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% csrf_token %}
            {{ loginForm.as_p }}
            <input class="button big" name="submit" id="submit"  value="Login" type="submit" />
        </form>
            <a id="forgotPassword" href="{% url 'reset' %}">Forgot password?</a>
    </section>
{% endblock %}