{% extends "dotodo/base.html" %}
{% load static %}

{% block head %}
    <title>doToDo Settings</title>
{% endblock %}
{% block nav_links %}
    {% include 'dotodo/nav_links/home.html' %}
{% endblock %}

{% block main %}
    <section>

           {% comment %} <form id="formEmail">
                <p class="contact"><label for="email">Email:</label></p>
                <input id="email" name="email" placeholder="example@domain.com" required="" type="email">
                <br>
                <input class="button" name="submitEmail" id="submitEmail"  value="Change email" type="submit">
            </form>{% endcomment %}

        <form id="formNotifications" method="POST"  action="">
            {% csrf_token %}
            {{ edit_form.as_p }}
            <input class="button" name="submitNotifications" id="submitNotifications"  value="Change notifications" type="submit">
        </form>

        <form id="formUsername" method="POST"  action="">
            {% csrf_token %}
            {{ edit_u.as_p }}
            <input class="button" name="submitUsername" id="submitUsername"  value="Change username" type="submit">
        </form>

        <a href="{% url 'password_change' %}" target="_blank">Change password</a>


    </section>
{% endblock %}