{% extends "dotodo/base.html" %}
{% load static %}

{% block head %}
    <title>doToDo Task</title>
    <script type="text/javascript" src="{% static 'dotodo/js/task.js' %}" defer></script>
{% endblock %}
{% block nav_links %}
    {% include 'dotodo/nav_links/home.html' %}
{% endblock %}

{% block main %}
<section>

                <form method="POST"  action="">
                    {% csrf_token %}
                    {{ edit_form.as_p }}
                    <a href="{% url 'category' %}" target="_blank">Edit categories &#x270F</a>
                    <input class="button" name="submitTask" id="submitTask"  value="Save task" type="submit" />
                    {% if request.get_full_path != "/task/" %}
                    <input class="button" name="deleteTask" id="deleteTask"  value="Delete task" type="submit" />
                    {% endif %}
                </form>


    </section>
{% endblock %}